
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffe6e6; 
    border: 2px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    max-width: 800px;
    gap: 20px;
}



#input_personaje {
    width: 70%;
    height: 40px;
    align-items: center;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 10px;
    margin-right: 10px;
}

#button_search {
    width: 20%;
    height: 40px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #ffb6c1; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-right: 10px;
   
}

#button_search:hover {
    background-color: #ff99aa; 
    box-shadow: 0 0 10px #ff99aa;
}

#character-information {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 90%; 
    max-width: 600px; 
    height: auto; 
    background-color: #f0e68c; 
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    word-wrap: break-word; 
    overflow: hidden; 
    margin: 20px auto; 
}


.character-image {
    max-width: 100%;
    height: auto;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: auto; 
}